* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* Seu código css aqui */
body {
  background: #0f0f0f;
}

.limite {
  width: 860px;
  margin: 0 auto;
}

.horizontal {
  display: flex;
  align-items: center;
}

.header-canal{
  justify-content: space-between;
  margin-bottom: 36px;;
}

.topo {
  background: #181818;
  padding: 24px;
  margin-bottom: 40px;
}

section .avatar {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin: 0 24px 0 0;
}

section .titulo h1{
  font: 24px "Roboto", sans-serif;
  color: #fff;
}

section .certificado {
  height: 16px;
  width: 16px;
  margin-left: 10px;
}

section span {
  font: 14px "Roboto", sans-serif;
  color: #aaa;
}

section .botao-membro{
  font: 14px "Roboto", sans-serif;
  text-transform: uppercase;
color: #3ea6ff;
border: 1px solid #3ea6ff;
border-radius: 4px;
padding: 8px 16px;
margin-right: 8px;
}

section .botao-inscrever{
  font: 14px "Roboto", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #c00;
  border-radius: 4px;
  padding: 8px 16px;
}

nav a{
  font: 14px "Roboto", sans-serif;
  color: #fff;
  margin-right: 20px;
}
.destaque{
  align-items: flex-start;
}


.destaque {
  display: flex;
}

.destaque .info {
  margin: 0 0 0 24px;
}

.destaque .info h3 {
  font: 14px "Roboto", sans-serif;
  color: #fff;
  margin-bottom: 16px;
}

.destaque .info span {
  display: block;
  font: 13px "Roboto", sans-serif;
  color: #aaa;
  margin-bottom: 16px;
}

.destaque .info p {
  font: 14px/24px "Roboto", sans-serif;
  color: #fff;
  margin-bottom: 16px;
}

.destaque a {
  font: 13px "Roboto", sans-serif;
  color: #aaa;
  text-transform: uppercase;
  color: #aaa;
}

.destaque a:hover {
  color: #fff;
}
